body{
    background-color: silver;
}

.containerb{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(145, 145, 145);
}

.navbar{
    background-color: black;
}

.card{
    padding: 20px;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.32);
-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.32);
    background-color: rgb(255, 255, 255);
    color: white !important;
}

.header{
    padding-top: 5rem;
}


.namerp{
    background-color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.textb{
    font-weight: bold;
    color: black;
}

.info{
    padding-left: 50px;
}


.containerd{
    border-radius: 10px;
    padding: 10px 20px;
    background-color:rgb(145, 145, 145);
    color: white;
}

.desk {
    overflow-y: scroll;  /* Menerapkan scrollbar vertikal */
    max-height: 124px;   /* Menetapkan ketinggian maksimum 200px */
  }
  
  .desk::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(145, 145, 145);
    border-radius: 5px;
  }
  
  .desk::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 5px;
  }
  