@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'heebo', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

img{
    object-fit: cover;
    object-position: top;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
}

nav {
    padding: 20px 148px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .logo a{
    font-size: 15px;
    color: #3e3e3e;
    font-weight: bold;
}

nav .nav-links{
    display: flex;
    gap: 16px;
}

nav .nav-links a{
    transition: color 0.3s ease;
}

nav .nav-links a:hover,
nav .nav-links a.selected{
    color: #303f9f;
}

.main {
padding: 0 148px;
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
height: celc(100vh - 80px);
}

.main .info h1{
    font-size: 44px;
    margin-bottom: 40px;
}

.main .info p{
    font-size: 16px;
    margin-bottom: 45px;
    width: 100%;
}

.main .info button{
    padding: 10px 30px;
    background-color: #303f9f;
    border: none;
    color: #ffff;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: bacground 03.s ease;
}

.main .info button:hover{
    background: #1a237e;
}

.main img{
    width: 400px;
    height: 400px;
    border-radius: 130px;
}

.recent {
    padding: 60px 148px;
    background-color: #dbedf2;
}

.recent .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recent .header h4
.seperator h4{
    font-size: 20px;
    font-weight: 400;
}

.recent .header a{
    color: #303f9f;
}

.recent .posts{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recent .posts .post-item {
    background-color: #fff;
    padding: 24px;
    width: 460px;
}

.recent .posts .post-item h3{
    font-size: 26px;
    margin-bottom: 18px;
}

.recent .posts .post-item .info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.recent .posts .post-item .info h5{
    font-size: 10px;
    font-weight: 400;
}

.recent .posts .post-item p{
    width: 400px;
}

.seperator{
    padding: 40px 148px 0;
}

.seperator h4{
    margin-bottom: 30px;
}

.featured{
    padding: 40px 290px 0;
}
.featured .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e0e0e0;
}

.featured .item img{
    width: 320px;
    height: 200px;
    border-radius: 6px;
}

.featured .item .details h3{
    font-size: 30px;
    margin-bottom: 16px;
}

.featured .item .details .item-info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.featured .item .details .item-info .year-badge{
    background-color: #303f9f;
    padding: 2px 14px;
    color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

.featured .item .details .item-info h4{
    color: #8695a4;
    font-size: 18px;

}

.featured .item .details p{
    width: 700px;
    text-align: justify;
}

footer{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .socials{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
}

footer .socials i{
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}
footer .socials i:hover{
    color: #303f9f;
}